:root {
    --primary-color: #FF5722;       /* Laranja Intenso (Ação, Botões, Destaques) */
    --primary-hover: #E64A19;       /* Laranja Mais Escuro (Hover) */
  
    --secondary-color: #2C3E50;     /* Azul Meia-Noite (Header, Sidebar, Textos Fortes) */
    --secondary-hover: #1A252F;     
    
    --bg-body: #F4F6F8;             /* Cinza muito suave (Fundo da página) */
    --bg-card: #FFFFFF;             /* Branco (Fundo de tabelas e cards) */
    
    --text-main: #2C3E50;           /* Cor padrão do texto */
    --text-muted: #6C757D;          /* Texto secundário (cinza) */
    
    --status-success: #27AE60;      /* Verde (Entradas/Pagos) */
    --status-danger: #C0392B;       /* Vermelho (Saídas/Atrasados) */
    --status-warning: #F39C12;      /* Amarelo (Pendente) */

    /* --- Configurações Globais --- */
    --navbar-height: 70px;
}

body {
    background-color: var(--bg-body);
    color: var(--text-main);
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Sobrescrita de Botões do Bootstrap para usar a paleta */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.btn-outline-secondary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

/* Utilitários de Texto */  
.text-energy { color: var(--primary-color) !important; }
.text-midnight { color: var(--secondary-color) !important; }

.nav-link.active {
  font-weight: 600;
  color: var(--primary-color) !important;
  border-bottom: 1px var(--primary-color);
}
